name: Java CI with Maven

on:
  pull_request_review:
    types: [submitted] 
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Upload the build artifacts
      uses: actions/upload-artifact@v3.1.3
      with:
        name: artifact
        path: publish

  labelWhenApproved:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Label when approved
      uses: pullreminders/label-when-approved-action@master
      env:
        APPROVALS: "2"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ADD_LABEL: "approved"
        REMOVE_LABEL: "awaiting%20review"
    - name: Download the artifacts
      uses: actions/download-artifact@v2.1.1
      with:
        name: artifact
